/*To do: make responsive*/

:root {
	--main-bg-color: #424B54;
	--primary-text: #FFFFFF;
	--secondary-text: #FFFFFF;
}

html {
	height: 100%;
	width: auto;
	margin: auto;
}

body {
	background-color: #191414;
	/* background-image: linear-gradient(grey, #191414); */
	color: #FFFFFF;
	font-family: 'Manrope', sans-serif;
}

.card {
	top: 30%;
	box-shadow: 0 0 10px lightgrey;
	border: 0px;
	/* max-height: 750px; */
	/* padding: 30px; */
	transition: 0.2s linear;
	padding: 15px !important;
}
.card h4 {
	font-size: 14pt !important;
}

.bg-dark {
	background-color: #2f2f38 !important;
}

.bg-dark .text-muted {
	transition: 0.1s linear;
}

.bg-dark:hover .text-muted {
	color: #FFFFFF !important;
}

.propic {
	filter: drop-shadow(0 0 20px #191414);
	/* max-height: 350px; */
}

.propic img {
	clip-path: circle();
	max-height: 350px;
}

.spacer {
	height: 50px;
}

#profile-header {
	padding-top: 0px;
	height: auto;
	background-image: linear-gradient(to bottom, #6ea8ff, #191414);
}

#following-btn {
	width: auto;
}

.bg-dark {
	border: none !important;
	box-shadow: none !important;
	background-color: #201C20 !important;
	transition: 0.1s linear;
}

ul .bg-dark {
	background-color: #191414 !important;
}

.card>img {
	width: 100%;
	max-height: 300px;
	object-fit: cover;
	box-shadow: 0 0 15px #191414 !important;
}

#public-playlists .card {
	/* max-width: 300px; */
	/* max-height: 450px; */
	/* transition: color 1s ease-in-out; */
}

#public-playlists {
	margin-top: -125px;
}

.thumbnail {
	max-width: 50px;
	max-height: 50px;
	overflow: hidden;
	box-shadow: 0 0 20px #191414;
}

.thumbnail>img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: top;
}

.list-group-item {
	margin-bottom: 10px;
}

ol li::before {
	content: counter(number) " " !important;
	counter-increment: number !important;
	counter-reset: number !important;
}

h1,
h3 {
	font-weight: 800 !important;
}

h4 {
	font-weight: 800 !important;
}

#profile-header .row {
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
	display: flex !important;
	/* height: 450px !important; */
}

#main-content {
	margin-top: 200px;
}

.responsive-img {
	max-width: 100% !important;
	height: auto !important;
}

#nameplate {
	font-weight: 800 !important;
}

.card-details {
	display:none;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
	.propic {
		display: none;
	}
}

/* Small devices (portrait tablets and large phones, 600px and up)
@media only screen and (min-width: 600px) {
	.propic {
		display: none;
	}
} */